:root{
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7043;
    --aqi-5: #ef5350;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    background-color: lightblue;
    background-image: url('pic.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff;
    font-family: sans-serif;
    padding: 0 15px;
}
hr{
    margin-bottom: 10px;
}

.header{
    position: sticky;
    top: 0;
    background-color: lightblue;
    background-image: url('pic.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
    & #city_input{
        background-color:yellow;
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        color:purple;
        & :focus{
            outline: none;
        }
    }
    & #searchbtn{
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color:orangered;
        cursor: pointer;
    }
    & #locationbtn{
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: orangered;
        cursor: pointer;
    }
    & h2{
        color: black;
        font-size: 50px;
    }
    & h2:hover{
        color: lightsalmon;
    }
}

#recentCitiesDropdown {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px; 
    margin-bottom: 15px; 
}


#city_input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px; 
}


#locationbtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px; 
    margin-bottom: 15px; 
}

#locationbtn:hover {
    background-color: #0056b3;
}

.card{
    background-color:purple;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    & p{
        font-size: 14px;
        color: #999;
    }
    & h2{
        font-size: 32px;
        font-weight: 500;
    }
}
.weather-data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    & .weather-left{
        grid-column: span 1;
        & .current-weather{
            display:flex;
            justify-content: space-between;
            align-items: center;
            & h2{
                margin: 7px 0;
            }
            & p{
                color: #fff;
            }
        }
        & .card-footer p{
            font-size: 14px;
            margin-bottom: 12px;
        }
        & .forecast-item{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            margin-bottom: 15px;
            & .icon-wrapper{
                display: flex;
                align-items: center;

            }
        }
    }
    & .weather-right{
        grid-column: span 3;
        & h2{
            margin-bottom: 10px;
        }
        & .highlights{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 15px;
            & .card:nth-of-type(1),
            & .card:nth-of-type(2){
                grid-column: span 2;
            }
            & .card-head{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .air-index {
                    color: #000;
                    padding: 5px 10px;
                    border-radius: 15px;
                }
                
                .aqi-1 {
                    background-color: var(--aqi-1);
                }
                
                .aqi-2 {
                    background-color: var(--aqi-2);
                }
                
                .aqi-3 {
                    background-color: var(--aqi-3);
                }
                
                .aqi-4 {
                    background-color: var(--aqi-4);
                }
                
                .aqi-5 {
                    background-color: var(--aqi-5);
                }

            }
            & .air-indices{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                place-items: center;
                & p{
                    text-align: center;    
                }
            }
            & .sunrise-sunset{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                & .item{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    & h2{
                       margin-top: 15px;
                    }
                }
            }
            & .card-item{
                display: flex;
                justify-content: space-between;
            }
        }
        & .hourly-forecast{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 10px;
            & .card{
                text-align: center;
            }
        }
        & #imp{
            color: black;
        }
        & #imp2{
            color: black;
        }
    }
}

/*Responsive Design*/

@media(max-width: 1100px){
    .weather-data{
        grid-template-columns: repeat(3, 1fr);
        & .weather-right{
            grid-column: span 2;
            & .highlights{
                grid-template-columns: repeat(3, 1fr);
                & .card:nth-of-type(1){
                    grid-column: span 3;
                }
            }
            & .hourly-forecast{
                grid-template-columns: repeat(6, 1fr);
            }
        }
        
    }
}

@media(max-width: 1040px){
    .weather-data{
        grid-template-columns: repeat(2, 1fr);
        & .weather-right{
            grid-column: span 1;
            & .highlights{
                grid-template-columns: repeat(2, 1fr);
                & .card:nth-of-type(1){
                    grid-column: span 2;
                }
            }
            & .hourly-forecast{
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

}
@media(max-width: 992px){
    .weather-data .weather-right .highlights{
        & .card{
            grid-column: span 2;
        }
        & .air-indices{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media(max-width: 850px){
    .weather-data{
        grid-template-columns: 1fr;
        & .weather-right .highlights{
            & .card:nth-of-type(3),
            & .card:nth-of-type(4),
            & .card:nth-of-type(5),
            & .card:nth-of-type(6),
            & .card:nth-of-type(7){
                grid-column: span 1;
            }
            & .air-indices{
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

}
@media(max-width: 660px){
    .header{
        flex-direction: column;
        & .h2{
            margin-bottom: 8px;
        }
        & #city_input, #searchbtn, #locationbtn{
            width: 100%;
            margin-bottom: 10px;
        }
    }

}
@media(max-width: 580px){
    .weather-data .weather-right .highlights .air-indices{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width: 520px){
    .weather-data .weather-right .highlights{
        & .card:nth-of-type(3),
        & .card:nth-of-type(4),
        & .card:nth-of-type(5),
        & .card:nth-of-type(6),
        & .card:nth-of-type(7){
            grid-column: span 2;
        }
        & .air-indices{
            grid-template-columns: repeat(3, 1fr);
        }

    }
}
@media(max-width: 480px){
    .weather-data .weather-right .highlights .sunrise-sunset{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 450px){
    .weather-data .weather-right .hourly-forecast{
        grid-template-columns: repeat(3, 1fr) ;
    }
}
@media(max-width: 380px){
    .weather-data .weather-right .highlights .air-indices{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #recentCitiesDropdown, #city_input, #locationbtn {
        width: 100%;
        max-width: none;
    }
}


